body{
  background-color: grey;
}
.border-radius{
  border: yellow dashed 12px;
  width: 50px;
  height: 50px;
  border-radius: 420%;
}
.background-img{
  background-image: url(images/thing.jpeg);
  height: 240px;
  width: 240px;
  padding: 100px;
  position: relative;
  background-clip: padding-box;

}
.background-img:hover{
  padding: 400px;
  transition-duration: 5s;
}
.wrap{
  width: 90px;
  overflow-wrap: break-word;
  background: darkgreen;
  color: orange;
}
.gradient{
  height: 200px;
  width: 200px;
  background-color: red;
  background: repeating-radial-gradient(rgba(255,255,255,0),red 10%);
  background: -webkit-repeating-radial-gradient(rgba(255,255,255,0),red 10%);
  background: -moz-repeating-radial-gradient(rgba(255,255,255,0),red 10%);
  background: -o-repeating-radial-gradient(rgba(255,255,255,0),red 10%);
  border-width: 20px;
  border-style: solid;
  border-image: linear-gradient(45deg, grey,black,red);
  border-color: red;
  border-image-slice: 1;
}
.tran{
  height: 200px;
  width: 200px;
  background-color: blue;
  transition: width 2s, height 2s,background-color 3s, transform 3s;
}
.tran:hover{
  transform: rotate(900deg);
  background-color: red;
}
.tran:active{
  width: 5000px;
  height: 5000px;
}
.img-o{
  height: 200px;
  width: 200px;
  opacity: 1;
}
.img-o-half{
  height: 200px;
  width: 200px;
  opacity: .50;
}
.img-o-quart{
  height: 200px;
  width: 200px;
  opacity: .25;
}
.block{
  height: 300px;
  width: 150px;
  border: 1px solid black;
  overflow-y: scroll;
}
.tryme span:nth-of-type(even){
  color:orange;
}
.tryme span:nth-of-type(odd){
  color:red;
}
.example1{
  width: 200px;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(images/w3schools.png), linear-gradient(to right, blue 0%, white 100%);
  background-image: url(images/w3schools.png), -webkit-linear-gradient(to right, blue 0%, white 100%);
  background-image: url(images/w3schools.png), -moz-linear-gradient(to right, blue 0%, white 100%);
  background-image: url(images/w3schools.png), -o-linear-gradient(to right, blue 0%, white 100%);
  background-blend-mode: darken;
  background-image:
}
.align1{
  text-align: left;
}
.align2{
  text-align: center;
}
/* column */
.column{
  font-size: 20px;
  column-count: 2;
  column-gap: 40px;
  column-rule: 8px dotted green;
}
/*box shadow*/
.boxshadow{
  width: 400px;
  height: 200px;
  background-color: purple;
  box-shadow: 20px 20px 50px 20px black;

}
/* resize */
.resizeable{
  width: 200px;
  height: 200px;
  background-color: red;
  overflow: auto;
  resize: both;
}
/*text stroke*/
.stroke{
  font-size: 20px;
  -webkit-text-stroke: 2px;
}
/*text-decoration*/
.textdec{
  text-decoration-line: underline;
  text-shadow: 2px 2px white;

}
/* list styles */
.list-s{
  list-style: armenian;
  text-indent: 50px;
}
/*animation*/
#ani1{
  height: 200px;
  width: 200px;
  background-color: black;
  position: relative;
  animation-name: ani;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  color: white;
}
@keyframes ani {
  0% {background-color: black; left:0px;}
  50% {background-color: red; left:100%;}
  100% {background-color: black; left:0px;}
}
/*transform*/
.hello{
  width: 500px;
  height: 100px;
  background-color: yellow;
  border: 2px solid green;
  transform: skew(50deg, 30deg)
}
/*animation delay*/
.why{
  width: 100px;
  height: 100px;
  background: purple;
  position: relative;
  -webkit-animation-name: hello;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
@-webkit-keyframes hello{
  from{left: 0px;}
  to{left: 1000px;}
}
